<h1>List of Bands</h1>

<div class="alert alert-success" ng-show="created">
    New Bands "{{created}}" added to the list!
</div>

<div class="alert alert-warning" ng-show="deleted">
    Band removed
</div>

<table class="table table-striped table-condensed">
    <thead>
    <tr>
        <th style="min-width: 80px;">Band Name</th>
        <th style="min-width: 80px;">Band Type</th>
        <th style="min-width: 80px;">Members</th>
        <th style="min-width: 80px;">Albums</th>
        <!-- <th style="width:20px;"> </th> -->
        <th style="width:20px;"> </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="band in bands">
        <td><a href="#/afiremedia/bands/{{band.id}}">{{ band.bandname }}</a></td>
        <td>{{ band.band_type.join(', ') }}</td>
        <td>{{ band.members.join(', ') }}</td>
        <td>{{ band.albums.join(', ') }}</td>
        <!-- <td><a ng-click="editBand(band.id)" class="btn btn-small btn-primary">Edit</a></td> -->
        <td><a ng-click="deleteBand(band.id)" class="btn btn-small btn-danger">Delete</a></td>
    </tr>
    </tbody>
</table>
<a href="#/afiremedia/newBand" class="btn btn-small btn-primary">Insert New Band</a>